@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sansita Swashed',
    cursive;
}

body {
background-color: #2b1331;
background-image: linear-gradient(315deg, #260f2b 0%, #160335 74%);
  display: flex;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

/* Top heading */
h1 {
  font-weight: normal;
  padding: 1rem;
  font-size: 3rem;
  position: relative;
  color: white;
}

@media (max-width: 720px){
  h1{
    padding-top: 3rem;
    font-size: 1.8rem;
  }
}

@media (max-width: 420px) {
  h1 {
    padding-top: 2rem;
    font-size: 1rem;
  }
}

/* container for todo and note switch button */
.note-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

header {
  position: absolute;
  top: 5rem;
  left: 20%;
  right: 20%;
  color:white;
  text-align: center;
  background: transparent;
}

header,
.addData {
  min-height: 10vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media(max-width: 720px) {
  header {
    left: 10%;
    right: 10%;
  }
header,
.addData {
    padding: 5px;
  }
}

@media(max-width: 420px) {
    header {
      top: 5rem;
      left: 5%;
      right: 5%;
    }
  header,
  .addData {
    padding: 0;
  }
}

/* form and data container */
.addData form {
  width: 90%;
}

.addTodos {
  position: absolute;
  top: 12rem;
  left: 10%;
  right: 10%;
  margin: auto;
  width: 70%;
  height: 80%;
}

.addNotes{
  position: absolute;
  top: 12rem;
  left: 10%;
  right: 10%;
  margin: auto;
  width: 70%;
  height: 80%;
}

.nav-item{
  margin: auto 1rem;
  border: 0;
  padding: 15px 25px;
  border-radius: 7px;
  font-size: 2rem;
  font-weight: 700;
  transition: 0.5s ease-in-out;
}

@media(max-width: 720px){
  .nav-item{
    font-size: 1.2rem;
    padding: 5px;
  }
}

@media(max-width: 420px) {
  .nav-item {
    font-size: 1rem;
    padding: 2px;
  }
  .addTodos {
      top: 11rem;
  }
  .addNotes {
      top: 11rem;
  }
}

.nav-item:hover {
  background: #000;
  color: white;
}

.add_todo input,
.add_todo button{
  position: relative;
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background: white;
}

@media(max-width: 720px) {
.add_todo input,
.add_todo button {
    font-size: 1rem;
    padding: 10px;
  }
}

@media(max-width: 320px) {
  .add_todo input,
  .add_todo button {
    font-size: 12px;
    padding: 5px;
  }
}

form button {
  color: #0805af;
  background-color: white;
  cursor: pointer;  
  transition: all 0.3s ease;
}

form button:hover {
  color: #f1f1f1;
  background-color: #0805af;
}

/* todo container */
.add_todo input {
  width: 60%;

}

.todo_container {
  position: absolute;
  top: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.todo_list {
  min-width: 50%;
  list-style: none;
}

@media (max-width: 720px) {
  .todo_list {
  min-width: 90%;
  }
}

.todo {
  margin: 0.7rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
}

.todo li {
  flex: 1;
  margin-left: 20px;
}

.trash_btn,
.complete_btn {
  background-color: #0805af;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 720px) {
  .trash_btn,
  .complete_btn {
    padding: 10px;
    font-size: 12px;
  }
  .todo{
    font-size: 1rem;
  }
  .select .filter_todo {
    font-size: 1rem;
  }
}

@media (max-width: 720px) {
  .trash_btn,
  .complete_btn {
    padding: 10px;
    font-size: 12px;
  }
  .todo{
    font-size: 1rem;
  }
  .select .filter_todo {
    font-size: 1rem;
  }
}

@media (max-width: 420px) {
  .trash_btn,
  .complete_btn {
    padding: 2px;
    font-size: 10px;
  }
  .todo{
    font-size: 12px;
  }
  .select .filter_todo {
    font-size: 10px;
  }
  select{
      font-size: 12px;
  }
}


.trash_btn {
  background-color: rgb(211, 0, 0);
}

.complete_btn {
  background-color: rgb(54, 129, 3);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 0.2rem;
  opacity: 0.6;
}

.delete {
  transform: translateZ();
  transition: 0.2s ease-in-out;
  opacity: 0;
}

.select {
  margin: 0.5rem;
  display: block;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
}

select {
  color: #000;
  font-size: large;
  width: 10rem;
  cursor: pointer;
}

select::after {
  pointer-events: none;
}

/* Note Container */

.add_Note{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly ;
  text-align: start;
  align-items: stretch;
  transition: all 0.4s ease;
}

.add_Note input,
.add_Note button,
.add_Note textarea {
  position: relative;
  left: 10%;
  margin: 0.2rem;
  padding: 10px;
  font-size:1.3rem;
  border: none;
  border-radius: 5px;
  background: white;
}

@media (max-width: 720px) {
  .add_Note input,
  .add_Note button,
  .add_Note textarea {
    font-size: 1rem;
    padding: 8px;
  }
}

@media (max-width: 420px) {

  .add_Note input,
  .add_Note button,
  .add_Note textarea {
    font-size: 12px;
  }
}

.add_Note input,
.add_Note textarea{
  width: 80%;
}

.note_container {
  position: absolute;
  margin: 0;
  padding: 15px;
  top: 35%;
  width: 100%;
  height: 300px;
  display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 250px));
    gap: 12px;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
}

@media (max-width: 720px) {
.note_container {
    font-size: 1rem;
    top: 28%;
    grid-template-columns: 250px;
  }
}

@media (max-width: 420px) {

  .note_container {
    font-size: 1rem;
    grid-template-columns: 200px;
  }
}

.noteCard{
  background-color: #e9e7e7;
  display: block;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  width: auto;
  height: 220px;
  overflow: auto;
  transition: all 0.4s ease;
}

.noteCard .noteTitle {
  padding: 2px;
  color: #000;
  height: 20%;
  font-size: 1.2rem;
}

.noteCard .noteText {
  padding: 2px;
  color: #000;
  height: 120px;
  font-size: 1.3rem;
  overflow: auto;
}

.noteCard button {
  background-color: rgb(211, 0, 0);
  padding: 10px;
  float:right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 2rem;
  height: 2rem;
  border-radius:50%;  
  font-size: 1rem;
  cursor: pointer;
}
.deleteBtn{
  color: #e9e7e7;
}
.deleteBtn:hover{
  color: #464545;
}

.note_list {
  min-width: 50%;
  list-style: none;
}

.note {
  margin: 0.7rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.fa-times{
  pointer-events: none;
}

.deleteNote {
  transform: translateY(8rem)rotateZ(45deg);
  transition: 0.2s ease-in-out;
  opacity: 0;
}

@media (max-width: 720px) {
  .noteCard button {
    font-size: 13px;
    width: 40px;
    height: 40px;
  }
  .noteCard {
    font-size: 12px;
    height: 220px;
  }
}

@media (max-width: 420px) {
.noteCard button {
  font-size: 10px;
  width: 20px;
  height: 20px;
}
.noteCard {
  font-size: 10px;
  height: 200px;
}

}

